header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: rgb(40, 45, 13);
    top: 0;
    left: auto;
    right: auto;
    color: antiquewhite;
}
a {
    color: antiquewhite;
}
.inner {
    font-size: 1vw;
}
header .wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
ul {
    display: flex;
    list-style: none;
}
ul li {
    margin-right: 40px;
    font-size: 2vw;
}
body {
    padding-top: 70px;
    background-color: rgb(40, 45, 13);
}
main {
    text-align: center;
}
main p {
    color: #fff;
    font-size: 5vw;
}