body {
    padding-top: 100px;
    background-color: rgb(180, 92, 227);
}
main h1 {
    color: aliceblue;
}
main {
    text-align: center;
    font-size: 100%;
}
p {
    display: inline-block;
    text-align: left;
    color: aliceblue;
    font-size: 2vw;
}
	/* 959px以下に適用されるCSS（タブレット用） */
@media screen and (max-width: 959px) {
    body {
        padding-top: 100px;
        background-color: rgb(180, 92, 227);
    }
    main h1 {
        color: aliceblue;
    }
    main {
        text-align: center;
        font-size: 75%;
    }
    p {
        display: inline-block;
        text-align: left;
        font-size: 25px;
        color: aliceblue;
    }
}
	/* 480px以下に適用されるCSS（スマホ用） */
@media screen and (max-width: 480px) {
    body {
        padding-top: 100px;
        background-color: rgb(180, 92, 227);
    }
    main h1 {
        color: aliceblue;
    }
    main {
        text-align: center;
        font-size: 50%;
    }
    p {
        display: inline-block;
        text-align: left;
        font-size: 13px;
        color: aliceblue;
    }
}