header {
    width: 100%;
    margin: 0 auto;
    position: fixed;
    background-color: rgb(180, 92, 227);
    top: 0;
    left: auto;
    right: auto;
    color: antiquewhite;
}
a {
    color: antiquewhite;
}
.inner {
    font-size: 1vw;
}
header .wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
ul {
    display: flex;
    list-style: none;
}
ul li {
    margin-right: 40px;
    font-size: 2vw;
}
body {
    padding-top: 100px;
    background-color: rgb(180, 92, 227);
}
main h1 {
    text-align: center;
    color: aliceblue;
}
p {
    font-size: 25px;
    margin-left: 24%;
    color: aliceblue;
}