body {
    padding-top: 70px;
    background-color: rgb(40, 45, 13);
}
header {
    /* background-color: rgb(14, 35, 46); */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    color: antiquewhite;
    font-size: 1vw;
}
.inner {
    max-width: 1200px;
    margin: 0 auto;
}
header .wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
}
ul {
    display: flex;
    list-style: none;
    color: antiquewhite;
}
ul li {
    margin-right: 40px;
    font-size: 2vw;
}
main h1 {
    color: antiquewhite;
}
